OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzdndqdWdsa3NycWVrY2pid3N0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzIwMzE4NSwiZXhwIjoyMDkyNzc5MTg1fQ.Y2Tz7axWC6VKRU5aup8jTz7ZCmkajUmKajZ4qQtNOeg
PORT=3000
